In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../datasets/annual-number-of-deaths-by-cause.csv")
df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0

In [9]:

df['Total'] = df.iloc[:, 3:].sum(axis=1)
df.head()

C:\Users\whisn\AppData\Local\Temp\ipykernel_20932\3069907029.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total'] = df.iloc[:, 3:].sum(axis=1)

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Total
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0,409592.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0,400418.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0,391854.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0,393118.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0,400728.0

In [14]:
# Menghapus kolom ke-4 sampai kolom terakhir - 1
df = df.drop(df.columns[3:-1], axis=1)
df.head(100000)

           Entity Code  Year     Total
0     Afghanistan  AFG  2007  409592.0
1     Afghanistan  AFG  2008  400418.0
2     Afghanistan  AFG  2009  391854.0
3     Afghanistan  AFG  2011  393118.0
4     Afghanistan  AFG  2012  400728.0
...           ...  ...   ...       ...
6888     Zimbabwe  ZWE  2015  260160.0
6889     Zimbabwe  ZWE  2016  256548.0
6890     Zimbabwe  ZWE  2017  253030.0
6891     Zimbabwe  ZWE  2018  247012.0
6892     Zimbabwe  ZWE  2019  247080.0

[6893 rows x 4 columns]

In [ ]:
year = [2015, 2016, 2017, 2018, 2019]
non_commununicable

In [19]:
print("Total Deaths 2015", df[df['Year'] == 2015]['Total'].sum()) 
print("Total Deaths 2016", df[df['Year'] == 2016]['Total'].sum()) 
print("Total Deaths 2017", df[df['Year'] == 2017]['Total'].sum()) 
print("Total Deaths 2018", df[df['Year'] == 2018]['Total'].sum()) 
print("Total Deaths 2019", df[df['Year'] == 2019]['Total'].sum())

Total Deaths 2014 601615382.0
Total Deaths 2015 608717832.0
Total Deaths 2016 614595808.0
Total Deaths 2017 620147496.0
Total Deaths 2018 629557508.0
Total Deaths 2019 639657204.0