In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [4]:
df = pd.read_csv('../../datasets/covid/COVID-19 Case Data/National Data/Indonesia_coronavirus_daily_data.csv')
df

,Date,Province,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
0,2020-03-01,DKI JAKARTA,2,0,0,2,2,0,0,2
1,2020-03-02,DKI JAKARTA,2,0,0,2,4,0,0,4
2,2020-03-03,DKI JAKARTA,2,0,0,2,6,0,0,6
3,2020-03-04,DKI JAKARTA,2,0,0,2,8,0,0,8
4,2020-03-05,DKI JAKARTA,0,1,0,-1,8,0,1,7
...,...,...,...,...,...,...,...,...,...,...
17608,2021-08-14,NUSA TENGGARA TIMUR,649,21,892,-264,52686,42250,1016,9420
17609,2021-08-15,NUSA TENGGARA TIMUR,498,7,1421,-930,53184,43671,1023,8490
17610,2021-08-16,NUSA TENGGARA TIMUR,438,18,969,-549,53622,44640,1041,7941
17611,2021-08-17,NUSA TENGGARA TIMUR,657,15,633,9,54279,45273,1056,7950
17612,2021-08-18,NUSA TENGGARA TIMUR,527,8,949,-430,54806,46222,1064,7520

In [5]:
df['Province'].value_counts()

JAWA TIMUR                    589
DKI JAKARTA                   536
RIAU                          535
JAWA BARAT                    535
BANTEN                        533
JAWA TENGAH                   529
SULAWESI TENGGARA             527
BALI                          526
KALIMANTAN TIMUR              523
SUMATERA UTARA                522
DAERAH ISTIMEWA YOGYAKARTA    521
SULAWESI SELATAN              520
KEPULAUAN RIAU                518
MALUKU                        517
JAMBI                         517
MALUKU UTARA                  515
PAPUA                         515
SUMATERA SELATAN              514
KALIMANTAN TENGAH             511
SULAWESI UTARA                511
ACEH                          511
SULAWESI TENGAH               511
LAMPUNG                       511
SUMATERA BARAT                511
PAPUA BARAT                   510
SULAWESI BARAT                509
KALIMANTAN UTARA              509
KALIMANTAN BARAT              508
KALIMANTAN SELATAN            507
KEPULAUAN BANGKA BELITUNG     507
BENGKULU                      506
NUSA TENGGARA BARAT           506
NUSA TENGGARA TIMUR           497
GORONTALO                     496
Name: Province, dtype: int64